.header {
  padding: 10px 0;
  width: 100%;

  .logged-header-mob {
    width: 100%;
    position: relative;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 2px solid #bcbcbc;

    .logo-small {
    }

    .main-menu {
      float: left;
      margin: 5px 0px 0px 10px;
    }

    .notification-icon {
      float: right;
      margin: 5px 10px 0px 0px;
    }
  }

  .logo {
    width: 100%;
    margin-left: 15px;

    h2 {
      display: inline-block;
      font-weight: bold;
      color: #ffffff;
    }
  }
}