.header {
  .logged-header-mob {
    width: 100%;
    position: relative;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 1px solid #bcbcbc;
    .logo-small {
    }
    .main-menu {
      float: left;
    }
    .notification-icon {
      float: right;
    }
  }
}