.selectDate {
  border: 1px #ccc solid;
  border-radius: 3px;
  width: 100%;
}

.selectDate h4 {
  background-color: #ccc;
  padding: 10px;

}

.selectDate > div {
  padding: 15px;
}

.customBreadcrump {
  margin: 2em auto;
}

.customBreadcrump li {
  width: 4em;
  height: 4em;
  text-align: center;
  line-height: 4em;
  border-radius: 2em;
  background: #ccc;
  margin: 0 1.5em;
  display: inline-block;
  color: white;
  position: relative;
}

.customBreadcrump li:first-child {
  margin-left: 0;
}

.customBreadcrump li::before {
  content: '';
  position: absolute;
  top: 2em;
  left: -4em;
  width: 4em;
  height: .2em;
  background: #ccc;
  z-index: -1;
}


.customBreadcrump li:first-child::before {
  display: none;
}

.customBreadcrump li.active ~ li {
  background: #ccc;
}

.customBreadcrump li.active {
  background: dodgerblue;
}

.customBreadcrump li.confirmed {
  background-color: darkgreen;
  font-weight: bold;
}


.customBreadcrump li.active ~ li::before {
  background: #ccc;
}