.profileUpdateContainer {
  float: left;
  width: 100%;
  border: 1px solid #333333;
  border-radius: 5px;
  padding: 20px;
  z-index: 10;
  position: relative;
  .updateBtn {
    float: right;
  }
}
