/* Container holding the image and the text */
.overlayContainer {
  position: relative;
  text-align: center;
  color: white;
  margin-bottom: 10px;
}

/* Centered text */
.textCentered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: #000;
}

.overlayImg {
  width: 100%;
}
