.appointmentSection {
  border: 1px darkgrey solid;
  background-color: #fff !important;
  padding: 10px 0px 10px 0px !important;
  border-left: 3px #17a2b8 solid;
}

.appointmentSection.confirmed {
  border-left: 3px darkorange solid;
}