.slotBox {
  border: 1px #ccc solid;
  border-radius: 3px;
  width: 100%;
  float: left;
  > div {
    padding: 15px;
  }
  ul.slotsListingContainer {
    width: 100%;
    list-style: none;
    padding: 0px;
    height: 75%;
    overflow-y: scroll;
    li {
      border: 1px solid #444444;
      list-style: none;
      padding: 5px;
      &:first-child {
        background-color: #dcdcdc;
        font-weight: bold;
      }
      span {
        width: 18%;
        display: inline-block;
        text-align: center;
        vertical-align: text-top;
        &:first-child {
          width: 5%;
        }
        .btn-link {
          margin-top: -.375em;
        }
      }
      &.selected {
        background-color: #ccc;
        border-color: #666666;
      }
    }
  }

  .form-check {
    display: inline-block;
    float: left;
    width: auto;
    margin-right: 20px;
    input {
      margin-top: 3px;
    }
  }

  .container-fluid {
    background: #fff;
  }
}

@media only screen and (max-width: 700px) {
  .slotsListingContainer {
    font-size: small;
    //li {
    //  span {
    //    borde: 1px solid;
    //  }
    //}
  }
}