.header {
  padding: 10px 0px;
  width: 100%;
  display: flex;

  .logo {
    width: 50%;
    img {
      display: -webkit-inline-flex;
      display: inline-flex;
    }

    h2 {
      color: #fff;
      font-size: 32px;
      font-weight: normal;
      display: inline-block;
      vertical-align: middle;
      margin-top: -10px;
      text-shadow: #0d1319 3px 2px 4px;
    }
  }

  .searchContainer {
    width: 50%;
    text-align: right;
    padding-right: 10px;

    img {
      vertical-align: middle;
      position: relative;
      top: -1px;
      width: 15px;
      right: 25px;
    }
    .search {
      width: 48%;
      height: 26px;
      border-radius: 5px;
      padding: 6px;
      border: 1px solid #fff;
      box-shadow: #0d1319 2px 2px 3px;
    }
  }
}