.customBreadcrumb {
  margin: 2em auto;

  li {
    width: 4em;
    height: 4em;
    text-align: center;
    line-height: 4em;
    border-radius: 2em;
    background: #ccc;
    margin: 0 1.5em;
    display: inline-block;
    color: white;
    position: relative;

    span.stepText {
      color: #111111;
      position: relative;
      bottom: -50px;
    }

    img {
      display: none;
    }

    span.stepDivider {
      width: 40px;
      height: 4px;
      border: 2px solid #999999;
      right: -54px;
      top: -65px;
      position: relative;
      display: inline-block;
    }

    &::before {
      content: '';
      position: absolute;
      top: 2em;
      left: -4em;
      width: 4em;
      height: .2em;
      background: #ccc;
      z-index: -1;
    }

    &:first-child {
      margin-left: 0;
    }

    &:first-child::before {
      display: none;
    }

    &.active {
      background: #1774C3;
      font-weight: bold;
    }

    &.active ~ li {
      background: #ccc;
    }

    &.confirmed {
      background-color: #59C51A;
      img {
        position: relative;
        top: -115px;
        left: 15px;
        width: 35px;
        height: 35px;
        display: block !important;
      }
    }

    &.active ~ li::before {
      background: #ccc;
    }

    &:last-child {
      span.stepDivider {
        right: 0px;
        border-color: transparent;
      }
    }
  }
}