/** Responisve css **/
@media only screen and (max-width: 500px) {
  p {
    clear: both;
    margin-top: 5px;
  }
}

/** Styles for 5 and six inch devices */
@media only screen and (max-height: 700px) {
  .bgWhite {
    background: #fff;
    border-radius: 0px !important;
    border: 1px solid #dcdcdc;
    padding: 10px;
    margin-top: calc(50vh - 200px);

    #forgotPWD {
      padding-top: 20px;
      margin-bottom: 0px;
      font-size: 14px;
    }
  }
}

.bgWhite {
  border: 1px solid #dcdcdc;
}