@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
}

.oneGridBox {
  margin: 0px auto;
  min-width: 500px;
  button, a {
    margin-left: 3px;
  }
  .reset-messages {
    .form-label {
      padding-left: 6px;
    }
  }
}

.globalLinks-mob {
  display: none;
}

.login-bg {
  background: rgb(19, 183, 228);
  background: linear-gradient(136deg, rgba(19, 183, 228, 1) 42%, rgba(89, 122, 239, 1) 35%);
  height: 100%;
  min-height: 800px;
}

.logged-bg {
  background-color: #fff;
}

.keyFeatures ul {
  list-style-type: none;

  li {
    color: #fff;
    font-size: 1.2rem;
    line-height: 35px;
    padding-bottom: 15px;
    text-shadow: #0d1319 2px 2px 3px;
  }
}

.form {
  .form-group {
    width: auto;
    .form-control {
      border: none;
      border-bottom: 1px solid #a9a9a9;
      border-radius: 0px;
    }
    .form-check-input {
      margin-left: 0px !important;
      float: left;
      left: 20px;
    }
    label {
      color: #666666;
      margin-left: 20px;
      float: left;
      position: relative;
      left: 5px;
      top: -1px;
    }
  }

  .form-check {
    label {
      color: #666666;
      float: left;
      position: relative;
      top: -1px;
      font-size: .9rem;
    }
  }
  .btn-primary {
    width: 100% !important;
    float: left !important;
    clear: both;
    padding: 6px 0px !important;
    margin: 15px 0px;
  }
}

.bgWhite, .oneGridBox {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: #0d1319 2px 2px 4px;
  .welcomeMsg {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
  }
}

.submitBtn {
  width: auto !important;
  float: right;
  padding: 8px 40px !important;
  margin-right: 10px;
}

.Footer {
  position: sticky;
  bottom: 0px;
  min-height: 60px;
  width: 100%;
  padding: 20px 5px;
}

.FooterCnt {
  text-align: center;

  ul {
    list-style-type: none;

    li {
      display: inline-block;
      padding-left: 5px;

      a {
        text-decoration: none;
        color: #000;
        font-size: 15px;
        line-height: 21px;
        border-bottom: 1px solid;
      }

      a:hover {
        text-decoration: none;
      }
    }
  }
}

#forgotPWD, #signUp {
  margin-bottom: 0;
  padding-top: 5px;
  font-size: .9rem;
}

.no-border {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  /* You may want to include this as bootstrap applies these
      styles too */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.carousel {
  margin: 20px 0px;
  .carousel-inner {
    width: 80%;
    left: 10%;
  }
  .carousel-control-prev,
  .carousel-control-next {
    cursor: pointer;
    width: 10%;
  }

  .carousel-item,
  .carousel-item.active {
    align-items: center;
  }
  .carousel-indicators li {
    background-color: #000000;
  }
}

.carousel-item > img {
  width: 100%;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  font-weight: bold !important;
}

.nav-tabs .nav-item {
  margin-bottom: 0px !important;
}

.nav-tabs .nav-link {
  color: #495057 !important;
  background-color: #fff !important;
  border-color: #dee2e6 #dee2e6 #fff !important;
}

/** Responisve css **/
@media only screen and (max-width: 500px) {
  main {
    height: calc(100vh - 300px) !important;
  }

  .bgWhite {
    background: #fff;
    border-radius: 0px !important;
    border: 1px solid #dcdcdc;
    padding: 10px;
    margin-top: calc(50vh - 250px);
    width: 100%;
    float:left;

    .row {
      clear: both;
      float: left;
      width: 100%;
    }

    #forgotPWD {
      padding-top: 20px;
      margin-bottom: 0px;
      font-size: 14px;
    }
  }

  .FooterCnt ul {
    display: none;
  }

  //.Footer {
  //  position: fixed !important;
  //  bottom: -10px !important;
  //}

  .form-control {
    border: none !important;
    border-bottom: 1px solid #ced4da !important;
    border-radius: 0px !important;
  }

  .globalLinks-mob {
    display: block !important;

    ul,
    li {
      list-style-type: none;
    }

    li {
      float: left;
      padding: 0px 20px;

      a {
        color: #666666;
        font-size: 14px;
      }

      border-right: 1px solid #ced4da;
    }

    li:last-child {
      border-right: none;
    }
  }
}