.container-fluid {
  background: #fff;
}

.appointmentSection {
  border: 1px darkgrey solid;
  background-color: #fff !important;
  padding: 10px 0px 10px 0px !important;
  border-left: 3px #17a2b8 solid;
}

.appointmentSection.confirmed {
  border-left: 3px darkorange solid;
}

.editBtn {
  background-color: darkorange !important;
  border-radius: 3px;
  border: 1px darkorange solid !important;
  padding-right: 20px !important;
  padding-left: 20px !important;
  margin: 10px;
  float: right;
  color: #000 !important;
}

.customTabs {
  border: 1px #dee2e6 solid !important;
  border-top: 0 #fff solid !important;
  padding: 30px;
}

.fontBold {
  font-weight: bold !important;
}
